.menu {
    background-color:#417aa8;
    width:90%;
    margin:0 auto;
}

.menu ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;          
}

.menu ul li{
    margin:0;
}

.menu ul li a{
    display:block;
    padding:0 20px;
    line-height:50px;
    color:#fff;
    text-decoration:none;
}

.menu ul li a:hover{
    background-color:#4b88bb;
}
